<html lang="en">
	<head>
		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% load staticfiles %}
			<link rel="shortcut icon" type="image/x-icon" href="{% static '/favicon.ico' %}" />

		<!-- jquery -->
		<script src="http://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

		<!-- Latest compiled and minified CSS -->
		{% load staticfiles %} 
			<link rel="stylesheet" type="text/css" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

		<!-- Optional theme -->
		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->

		<!-- Latest compiled and minified JavaScript -->
		{% load staticfiles %}
			<script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
		<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->

		<!-- ovo ide out -->
		{% load staticfiles %} 
			<link rel="stylesheet" type="text/css" href="{% static '/css/master.css' %}">
		
		{% block link %} 
		{% endblock %}
		
		<title>
			{% block title %} 
				Home 
			{% endblock %}
		</title>
	</head>
	<body>
		<noscript>
			<p class="topNotification" align="center">
				<b>You need JavaScript enabled if you want this works!</b>
			</p>
		</noscript>
		<div id="wrap">
			<div class="row general">
				<div class="topMenu">
					<nav class="navbar navbar-inverse" style="border-radius: 0px;border: none;">
						<div class="container-fluid">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="#">Elektrolit</a>
							</div>

							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li {% block homeActivate %}{% endblock %}><a href="/">Početna</a></li>
									<li {% block platformActivate %}{% endblock %}><a href="/platform">Platforma</a>
									{% if content.isLogin == True %}
									<li {% block supportActivate %}{% endblock %}><a href="/support">Podrška</a></li>
									{% endif %}
								</ul>
								<ul class="nav navbar-nav navbar-right">
									{% if content.isLogin == True %}
										<li><a href="/logout">Logout</a></li>
									{% else %}
										<li><a href="/login">Login</a></li>
									{% endif %}
								</ul>
							</div><!-- /.navbar-collapse -->
						</div><!-- /.container-fluid -->
					</nav>
				</div>

				{% block content %}
				{% endblock %}
		</div>
      </div>
		<footer class="footer">
			<div class="container">
				<p align="center">Created by Elektro team</p>
			</div>
		</footer>
    </body>
</html>

