{% extends "./includes/master.html" %}

{% block link %}
	
{% endblock %}

{% block title %} Platform {% endblock %}

{% block platformActivate %}class="active"{% endblock %}

{% block content %}
	<div class="container">
		<h1>PRIKAZ SVIH EKSPERIMENATA</h1>
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
				  <tr>
					<th>Datum kreiranja</th>
					<th>Naziv</th>
					<th>Opis</th>
				  </tr>
				</thead>
				{% for experiment in experiments%}
					<tr>
						<td>{{ experiment.datum_kreiranja|date:"Y-m-d" }}</td>
						{% if content.isLogin == True %}
							<td><a href="/platform/{{experiment.id}}">{{ experiment.naziv }}</a></td>
						{% else %}
							<td>{{ experiment.naziv }}</td>
						{% endif %}
						<td>{{ experiment.opis }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}