{% extends "./includes/master.html" %}

{% block link %}
	{% load staticfiles %} 
		<link rel="stylesheet" type="text/css" href="{% static '/css/platform_page.css' %}">
	{% load staticfiles %}
		<script type="text/javascript" src="{% static '/js/platform_page.js' %}"></script>

	<script type="text/javascript">
		window.conf = {id:"{{content.experiment.id}}", haveAccess: {% if content.haveAccess == True %}true{% else %}false{% endif %}, location:"http://{{content.experiment.adresa}}:{{content.experiment.port}}/", token: "{{content.token}}"};
	</script>
{% endblock %}

{% block title %} 
	{{ content.experiment.naziv }}
{% endblock %}

{% block content %}
	<div id="display">
		<div id="video" class="embed-responsive embed-responsive-16by9">
			<iframe src="{{ content.experiment.demo_video }}" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="paleta">
			<div class="box">
				<div class="stats views" style="width:100px"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><span class="num_val">{{ content.experiment.broj_pregleda }}</span></div>
				<!--<div class="stats inqueue" style="width:100px"><span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span><span class="num_val" id="qstatus">STATUS U REDU IL TAKO NESTO</span></div>-->
			</div>
			<div class="pull-right">
				{% if content.haveAccess == True %}
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="enter">
					Enter queue
				</button>
				<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: none" id="access">
					Access experiment
				</button>
				<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: none" id="wait">
					Wait...
				</button>
				{% endif %}
			</div>
		</div>
	</div>
	<div id="about">
		<div class="well">
			<div>
				<h4 style="display: inline"><b>{{ content.experiment.naziv }}</b></h4>
				<div style="display: inline; margin-left:5px"><span class="datum">{{ content.experiment.datum_kreiranja }}</span></div>
			</div>
			<p>{{ content.experiment.opis|linebreaks }}</p>
		</div>
	</div>
{% endblock %}