{% extends "./includes/master.html" %}

{% block link %}
	{% load staticfiles %} 
	<link rel="stylesheet" type="text/css" href="{% static '/css/support.css' %}">
{% endblock %}

{% block title %}
	Podrška 
{% endblock %}

{% block supportActivate %}
	class="active"
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<h1 id="fade">DOBRODOŠLI NA STRANU NAŠE PODRŠKE</h1>
		</br>
		<p class="paragraf" class="text-justify">Za svaku nedoumicu ili problem, pošaljite poruku našoj podršci. Biće vam odgovoreno na email u roku od 24h.</p>
		</br>
		<form id="forma" class="form-group" action="#" method="POST">
			{% csrf_token %}
			<h3 class="text-justify"><b>Kontaktirajte podršku</b></h3>
			</br>
			</br>
			<p class="paragraf">Naslov</p>
			<input class="form-control" type="text" name="subject">
			</br>
			<p class="paragraf">Komentar</p>
			<textarea name="sadrzaj" class="form-control area" rows="10"></textarea>
			<button type="submit" class="btn btn-info btn-lg">Pošalji</button>
			{% if message_error == True %}
				<div class="alert alert-danger" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					Nemate pravo na slanje!
				</div>
				</br>
			{% endif %}
			{% if message_success == True %}
				<div class="alert alert-success" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					Vaša poruka je poslata!
				</div>
				</br>
			{% endif %}
		</form>
	</div>
{% endblock %}